.navbar-container {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
}
.navbar {
    width: 100vw;
    background-color: black;
    padding: 6px 0px 6px 20px;
}
.navbar-heading {
    color: #ffffff;
    font-size: 18px;
}

