.navbar-container {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
}
.navbar {
    width: 100vw;
    background-color: black;
    padding: 6px 40px 6px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-heading {
    color: #ffffff;
    font-size: 18px;
}
.logout-btn {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}

